.board {
    display: grid;
    grid-template-columns: repeat(20, 20px);
    grid-gap: 1px;
  }
  
  .controls {
    margin-top: 20px;
  }
  
  button {
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    justify-content: center;
  }
  
   